// Variables
@import "./variables/colors";
@import "./variables/sizing";

// utilities
@import "./utils/utilities";
@import "./utils/base";

// Root
@import "./root/breakpoints";
@import "./root/body";
@import "./root/grid";

// Components
@import "./components/base-button";
@import "./components/navbar";
@import "./components/base-card";
@import "./components/text-field";
@import "./components/modal-window";
@import "./components/carousel";
@import "./components/headline-typography";
// Features: cards
@import "./features/now-playing-card";
@import "./features/upcoming-card";
@import "./features/upcoming-mini-card";
@import "./features/person-card";
@import "./features/tv-card";
@import "./features/search";

// Features: grids
@import "./features/upcoming-movie-grid";
@import "./features/general-card-grid";

// Pages
@import "./pages/home-page";
@import "./pages/media-overview-page";
