@use "sass:math";

.card {
  padding: $base-padding;
  background-color: $card-color;
  border: 1px solid $border-color;
  border-radius: $base-border-radius + $base-padding;
  box-shadow: $base-box-shadow;

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__card-title {
    color: $card-foreground-color;
    font-size: $font-size-md;
    font-weight: 600;
    line-height: 1.75rem;
  }
  &__card-description {
    font-size: $font-size-sm;
    font-weight: 300;
    color: $muted-color;
    line-height: 0.75rem;
  }

  &__card-image {
    img {
      border-radius: $base-border-radius;
      width: 100%;
      object-fit: cover;
    }
  }

  &__card-content {
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }
  &__card-header {
  }
  &__card-footer {
    border-top: 1px solid $border-color;
    padding-top: $base-padding;
  }
}
