// Action button
.overview-action-bar {
  width: 100%;
  padding: 0.25rem 0rem;
  display: flex;
  justify-content: space-between;
  font-weight: 500;

  &__button {
    cursor: pointer;

    border-radius: 0.25rem;
    line-height: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background: $card-color;
    &:hover {
      filter: brightness(1.5);
    }
  }
}
