.person-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;

  &:hover &__name {
    color: $primary-color;
  }
  &__avatar {
    border: 1px solid $border-color;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;

    @include sm {
      width: 200px;
      height: 200px;
    }
    &__loading {
      background: $card-color;
      animation: skeleton-animation 0.6s infinite alternate-reverse;
    }
  }

  &__name {
    font-weight: 500;
    font-size: $font-size-base;

    @include sm {
      font-size: $font-size-md;
    }
  }

  #skeleton {
    width: 100%;
    height: 100%;

    background: $card-color;
    animation: skeleton-animation 0.6s infinite alternate-reverse;
  }

  @keyframes skeleton-animation {
    from {
      // background-color: $card-color;
      filter: brightness(1);
    }
    to {
      filter: brightness(2);
      // background-color: $secondary-color;
    }
  }
}
