.tv-card {
  a {
    color: $link-color;
    font-size: $font-size-base;
  }

  &__background-gradient {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    z-index: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(9, 9, 11, 0.8),
      $background-color,
      $background-color
    );
  }
  &__svg-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  &__svg {
    cursor: pointer;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
  }

  &__image {
    img {
      height: 200px;
    }
  }
}
