.upcoming-movie-mini-card {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-bottom: 0.5rem;

  &__image {
    object-fit: cover;

    width: 90px;
    border-radius: $base-border-radius + 0.25rem;
    height: 150px;
    // width: 100%;
  }
}
