.upcoming-wrapper {
  position: relative;
  width: 340px;
  height: auto;
  @include sm {
    width: 420px;
  }
  @include md {
    width: 520px;
  }
  @include lg {
    width: 740px;
  }

  &__image {
    border-radius: $base-border-radius;
    width: 100%;
    img {
      aspect-ratio: 16 / 9;
      position: absolute;
      z-index: 0;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
.upcoming-card {
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(9, 9, 11, 0.8),
    $background-color,
    $background-color
  );
  height: fit-content;

  &__title {
    font-size: $font-size-base;
    font-weight: 600;
    max-width: 460px;
    @include sm {
      font-size: $font-size-md;
    }
    @include md {
      font-size: $font-size-lg;
    }
  }

  &__sub-title {
    font-size: $font-size-sm;
    font-weight: 500;
    max-width: 460px;
    color: $muted-color;
    @include sm {
      font-size: $font-size-base;
    }
    @include md {
      font-size: $font-size-md;
    }
  }
  &__content {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0.25rem;

    @include sm {
      gap: 0.5rem;
      padding: 0px 1rem;
    }
  }

  &__card-image {
    display: none;
    @include md {
      display: block;
    }

    img {
      height: 200px;
      width: 80px;
    }
  }
}
