$background-color: #0c0a09;
$foreground-color: #fafaf9;
$card-color: #0c0a09;
$card-foreground-color: #fafaf9;

$primary-color: #fafaf9;
$primary-foreground-color: #1c1917;
$secondary-color: #292524;
$secondary-foreground-color: #fafaf9;

$destructive-color: #7f1d1d;

$border-color: #292524;
$input-color: #292524;
$ring-color: #d6d3d1;
