$background-color: #09090b;
$foreground-color: #fafaf9;
$card-color: #0c0a09;
$card-foreground-color: #fafaf9;

$primary-color: #fafaf9;
$primary-foreground-color: #1c1917;
$secondary-color: #292524;
$secondary-foreground-color: #fafaf9;
$base-box-shadow: #292524;
$destructive-color: #7f1d1d;

$muted-color: #8d8d8d;
$border-color: #292524;
$input-color: #292524;
$ring-color: #d6d3d1;
$link-color: #5799ef;
