@use "sass:math";

.card {
  padding: $base-padding;
  background-color: $card-color;
  border: 1px solid $border-color;
  border-radius: $base-border-radius + $base-padding;
  box-shadow: $base-box-shadow;

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__card-title {
    color: $card-foreground-color;
    font-size: $font-size-base;
    font-weight: 500;
    line-height: 1.75rem;
  }

  &__tooltip {
    visibility: hidden;
    width: 180px;
    box-shadow: $base-box-shadow;

    font-size: $font-size-base;
    line-height: 1rem;
    height: fit-content;
    background-color: $secondary-color;
    color: $secondary-foreground-color;
    text-align: center;
    padding: $base-padding;
    border-radius: $base-border-radius;

    /* Position the tooltip */
    position: absolute;
    z-index: 5;
    bottom: -20%;
  }
  &__card-description {
    position: relative;
    font-size: $font-size-sm;
    font-weight: 300;
    color: $muted-color;
    line-height: 0.8rem;

    // Ellipses after 2 lines
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:hover {
      @include lg {
        overflow: visible;
        visibility: hidden;
      }
    }
  }
  &__card-description:hover &__tooltip {
    @include lg {
      visibility: visible;
    }
  }

  &__card-image {
    img {
      border-radius: $base-border-radius;
      width: 100%;
      object-fit: cover;
    }
  }

  &__card-header {
    padding-top: $base-padding * 0.5;
    padding-bottom: 0;
  }
  &__card-content {
    padding-top: $base-padding * 0.5;
    padding-bottom: $base-padding;
  }
  &__card-footer {
    margin-top: auto;
    border-top: 1px solid $border-color;
    padding-top: $base-padding;
  }
  &__card-rating {
    line-height: 1.5rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;

    svg {
      margin-bottom: 1px;
    }
  }
}
