.headline-typography {
  color: $foreground-color;
  font-weight: 600;
  font-size: $font-size-lg;
  text-transform: uppercase;
  text-align: start;
  padding-left: 1rem;
  border-left: 3px solid $primary-color;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 30%;
  margin: 2rem 0;
}
