.headline-typography {
  color: $foreground-color;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;
  padding-left: 1rem;
  border-left: 5px solid $primary-color;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 30%;
  margin: 2rem 0;

  font-size: $font-size-md;
  @include md {
    font-size: $font-size-lg;
  }
}
