@use "sass:math";

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  max-width: 100%;
  padding: 0.5rem 0.15rem;
  background: $background-color;
  border-bottom: 1px solid $border-color;

  &__inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: none;
    @include sm {
      display: block;
    }
  }
  &__search-bar {
    width: 100%;

    @include sm {
      width: 350px;
    }
  }
}

.app-logo {
  text-align: start;
  font-weight: 700;
  font-size: $font-size-md;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $secondary-color;
  width: fit-content;

  &__semi-header {
    font-size: $font-size-sm;
    text-align: end;
  }
}
